
.icon-mail:before { content: '\e800'; } /* '' */
.icon-pencil-alt:before { content: '\e801'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */